{% extends "base.html" %}

{% block title %}CloudDAV Administration{% endblock %}

{% block header %}CloudDAV Administration{% endblock %}

{% block content %}
	Hello {{ nickname }}.
	<ul>
		<li><a href="?run_tests">Run tests</a></li>
	    <li><a href="?clear_cache">Clear cache</a> (also clears all locks!)</li>
	    <li>THIS WILL IMMEDIATELY REMOVE ALL DRIVE CONTENTS: <a href="?clear_datastore">Clear datastore</a></li>
		<li><a href="?check_orphans">Check orphans</a></li>
		<li><a href="?expired_sessions">Expired sessions</a></li>
    </ul>
	<a href="/">Home</a>
	<a href="{{ url }}">{{ url_linktext }}</a>
	<hr />
	Memcache stats:
	<pre>{{ memcache_stats }}</pre>
	<hr />
	<a href="/_admin/data/">Datastore stats</a>:
	<pre>{{ datastore_stats }}</pre>
	<hr />
	<a href="/_admin/data/Path/">Path samples</a>:
	<pre>{{ path_samples }}</pre>
	<hr />
	<a href="/_admin/data/Chunk/">Chunk samples</a>:
	<pre>{{ chunk_samples }}</pre>
	<hr />
	<a href="/_admin/data/AuthorizedUser/">User samples</a>:
	<pre>{{ user_samples }}</pre>
	<hr />
	<a href="/_admin/data/AuthSession/">Session samples</a>:
	<pre>{{ session_samples }}</pre>
    <hr />
    OS Environment:
    <pre>{{ environment_dump }}</pre>
    <hr />
    Request Environment:
    <pre>{{ request_env_dump }}</pre>
{% endblock %}

