{% extends "base.html" %}

{% block title %}User Authentication via Google Cloud Identity Platform (Firebase Auth){% endblock %}

{% block styles %}
  <!-- See https://github.com/firebase/firebaseui-web. -->
  <!-- [START gae_python38_auth_init_firebase] -->
  <!-- *******************************************************************************************
       * TODO(DEVELOPER): Paste the initialization snippet from:
       * http://console.firebase.google.com > Overview > Add Firebase to your web app.
       ***************************************************************************************** -->

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/{{ FIREBASEJS_SDK_VERSION }}/firebase-app-compat.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/{{ FIREBASEJS_SDK_VERSION }}/firebase-auth-compat.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "{{ FIREBASE_API_KEY }}",
    authDomain: "{{ FIREBASE_PROJECT_ID }}.firebaseapp.com",
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  // Set cookie name of Firebase id token for use in static/auth_script.js
  const FIREBASE_ID_TOKEN = "{{ FIREBASE_ID_TOKEN }}";
  // Set proxy prefix for local testing behind a reverse proxy, for use in static/auth_script.js
  const PROXY_PREFIX = "{{ PROXY_PREFIX }}";
</script>

  <!-- [END gae_python38_auth_init_firebase] -->
  <script>
    if (typeof firebase === 'undefined') {
      const msg = "Please set the Firebase project ID and API key as environment variables in app.yaml. See the application setup details at https://console.cloud.google.com > Identity Platform > Providers, or the initialization snippet at https://console.firebase.google.com > Overview > Add Firebase to your web app.";
      console.log(msg);
      alert(msg);
    }
  </script>
  <!-- [START gae_python38_auth_include_firebaseui] -->
  <!-- updated from https://github.com/firebase/firebaseui-web -->
  <script src="https://www.gstatic.com/firebasejs/ui/{{ FIREBASEJS_UI_VERSION }}/firebase-ui-auth.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/{{ FIREBASEJS_UI_VERSION }}/firebase-ui-auth.css" />
  <!-- [END gae_python38_auth_include_firebaseui] -->
  <script src="/static/auth_script.js"></script>
  <link type="text/css" rel="stylesheet" href="/static/auth_style.css">
{% endblock %}

{% block header %}Google Cloud Identity Platform{% endblock %}

{% block content %}
<!-- [START gae_python38_auth_firebase_html] -->
<div id="firebaseui-auth-container"></div>

<button id="sign-out" hidden=true>Sign Out</button>

<div id="login-info" hidden=true>
</div>

<div id="session-info" {% if user_claims %}{% else %}hidden=true{% endif %}>
  <h2>Current Session Info:</h2>
  {% if user_claims %}
    <div>
      <p>Name: {{ user_claims['name'] }}</p>
      <p>Email: {{ user_claims['email'] }}</p>
    </div>
    <div>
      <a href="/">Home</a>
      <a href="{{ logout_url }}">Logout</a>
      <a href="{{ auth_url }}">Back</a>
    </div>
  {% endif %}
</div>

<div id="error-msg">
  {% if error_message %}
    <p>Error: {{ error_message }}</p>
  {% endif %}
</div>
<!-- [END gae_python38_auth_firebase_html] -->
{% endblock %}

