{% extends "base.html" %}

{% block title %}CloudDAV User Info{% endblock %}

{% block header %}CloudDAV User Info{% endblock %}

{% block content %}
	{% if auth_user.user_id %}
		Welcome {{ auth_user.nickname }}, you are an authenticated user with {{ access }} access.
		<a href="{{ logout_url }}">Logout</a>
	{% else %}
		Hello stranger, nice to meet you...
		<a href="{{ login_url }}">Login</a>
	{% endif %}
	{% if user_claims %}
	<ul>
		{% for key, value in user_claims.items() %}
		<li>{{ key }}: {{ value }}</li>
		{% endfor %}
	</ul>
	{% endif %}
{% endblock %}

