{% extends "base.html" %}

{% block title %}Generic DAV/FS/OS Browser{% endblock %}

{% block header %}Generic DAV/FS/OS Browser{% endblock %}

{% block content %}

	{% if not path %}
	<p>Please select one of the supported filesystems...</p>
	<ul>
		{% for info in files %}
		<li><a href="{{ base_url }}/{{ info }}/">{{ info }}</a></li>
		{% endfor %}
	</ul>
	{% else %}
	<table>
		<tr><td><a href="{{ base_url }}/">Home</a></td><td></td><td align="right">{{ elapsed }} sec</td><td></td></tr>
		<tr><th scope="col"><a href="{{ base_url }}/{{ path }}/">Name</a></th><th scope="col" align="right"><a href="{{ base_url }}/{{ path }}/?sort=size">Size</a></th><th scope="col"><a href="{{ base_url }}/{{ path }}/?sort=date">Date</a></th><th scope="col">Type</th></tr>
		{% for info in files %}
		{% if info.name.endswith('/') %}
		<tr><td><a href="{{ base_url }}/{{ path }}/{{ info.name }}">{{ info.name }}</a></td><td align="right">-</td><td>{{ info.date }}</td><td>{{ info.type }}</td></tr>
		{% else %}
		<tr><td>{{ info.name }}</td><td align="right">{{ info.size }}</td><td>{{ info.date }}</td><td>{{ info.type }}</td></tr>
		{% endif %}
		{% endfor %}
		{% if link %}
		<tr><td><a href="{{ link }}">{{ label }}</a></td><td align="right"></td><td></td></tr>
		{% endif %}
	</table>
	<p>Filesystem: {{ filesystem }}</p>
	{% endif %}

{% endblock %}

