{% extends "data_home.html" %}

{% block content %}
	{% include "data_nav.html" %}

	{% set filter_dict = get_list_filters(name) %}
	{% if filter_dict %}
		{% set match = {} %}
		{% if filters %}
			{# see https://stackoverflow.com/questions/36886650/how-to-add-a-new-entry-into-a-dictionary-object-while-using-jinja2 #}
			{% for where in filters %}
				{% set _ = match.update({where[0]: where[2]|string}) %}
			{% endfor %}
		{% endif %}
		<form method="get">
		<strong>Filters</strong>:
		{% for filter, values in filter_dict|dictsort %}
			{% if values is mapping %}
				{{ filter }}: <select name="filters.{{ filter }}">
				<option value=""></option>
				{# todo match where[0] from filters with filter_dict #}
				{% for value, num in values|dictsort %}
					{% if filter in match and value == match[filter] %}
					<option value="{{ value }}" selected="selected">{{ value }} ({{ num }})</option>
					{% else %}
					<option value="{{ value }}">{{ value }} ({{ num }})</option>
					{% endif %}
				{% endfor %}
				</select>
			{% else %}
				<strong>{{ filter }}</strong>: {{ values }}
			{% endif %}
		{% endfor %}
		<input type="submit" value="Filter">
		<a href="{{ base_url }}/{{ name }}/?create_filters=1">Create filters</a>
		</form>
	{% endif %}

	{% if filters %}
	<p>Filters:
	{% for where in filters %}
	{% if where[2]|is_item %}
		{{ where[0] }}{{ where[1] }}<a href="{{ base_url }}/{{ where[2]|item_link }}">{{ where[2].id_or_name }}</a>
	{% else %}
		{{ where[0] }}{{ where[1] }}{{ where[2] }}
	{% endif %}
	{% endfor %}
	</p>
	{% endif %}

	<table border="0" cellpadding="5">
		<thead>
			<tr>
			{% for col_name in columns %}
				{% if col_name == "_key" %}
					{% if sort %}
						<th scope="col"><a href="{{ base_url }}/{{ name }}/">{{ col_name }}</a></th>
					{% else %}
						<th scope="col"><strong>{{ col_name }}</strong></th>
					{% endif %}
				{% elif col_name == sort %}
					<th scope="col"><strong>{{ col_name }}</strong> <a href="{{ base_url }}/{{ name }}/?sort=-{{ col_name }}"> &uarr; </a></th>
				{% elif "-" + col_name == sort %}
					<th scope="col"><strong>-{{ col_name }}</strong> <a href="{{ base_url }}/{{ name }}/?sort={{ col_name }}"> &darr; </a></th>
				{% else %}
					<th scope="col"><a href="{{ base_url }}/{{ name }}/?sort={{ col_name }}">{{ col_name }}</a></th>
				{% endif %}
			{% endfor %}
			</tr>
		</thead>
		{# Note: template filters is_item, item_link and show_date are defined in views.py #}
		<tbody>
		{% for row in rows %}
			<tr>
			{% for col_name in columns %}
				{% set val = row[col_name] %}
				{% if val|is_item %}
					<td><a href="{{ base_url }}/{{ val|item_link }}">{{ val.id_or_name }}</a></td>
				{% elif col_name in ("create_time", "update_time", "modify_time", "timestamp") %}
					<td>{{ val|show_date }}</td>
				{% else %}
					<td>{{ val }}</td>
				{% endif %}
			{% endfor %}
			</tr>
		{% endfor %}
		</tbody>
	</table>

	{# Note: template global function get_pager is defined in views.py #}
	{% with pager_urls = get_pager(count, page) %}
		{% set more = rows|length %}
		{% include "pager.html" %}
	{% endwith %}

	{% include "data_nav.html" %}
{% endblock %}

