{% extends "data_view.html" %}

{% block content %}
	{% include "data_nav.html" %}

	<table border="0" cellpadding="5">
		<thead>
			<tr>
			{% for col_name in columns %}
				{% if col_name == "__key__" %}
					{% if sort %}
						<th><a href="{{ data_url }}/{{ kind }}/">{{ col_name }}</a></th>
					{% else %}
						<th><strong>{{ col_name }}</strong></th>
					{% endif %}
				{% elif col_name == sort %}
					<th><strong>{{ col_name }}</strong> <a href="{{ data_url }}/{{ kind }}/?sort=-{{ col_name }}"> &uarr; </a></th>
				{% elif "-" + col_name == sort %}
					<th><strong>-{{ col_name }}</strong> <a href="{{ data_url }}/{{ kind }}/?sort={{ col_name }}"> &darr; </a></th>
				{% else %}
					<th><a href="{{ data_url }}/{{ kind }}/?sort={{ col_name }}">{{ col_name }}</a></th>
				{% endif %}
			{% endfor %}
			</tr>
		</thead>
		{# Note: template filters is_key and key_link are defined in admin_handler #}
		<tbody>
		{% for row in rows %}
			<tr>
			{% for col_name in columns %}
				{% set val = row[col_name] %}
				{% if val|is_key %}
					<td><a href="{{ data_url }}/{{ val|key_link }}">{{ val.id_or_name }}</a></td>
				{% else %}
					<td>{{ val }}</td>
				{% endif %}
			{% endfor %}
			</tr>
		{% endfor %}
		</tbody>
	</table>

	{# Note: template global function kind_pager is defined in admin_handler #}
	<p>{{ kind_pager(kind, page)|safe }}</p>

	{% include "data_nav.html" %}
{% endblock %}

