{% extends "base.html" %}

{% block title %}Google Cloud Datastore Viewer{% endblock %}

{% block header %}Google Cloud Datastore Viewer{% endblock %}

{% block content %}
	{% include "data_nav.html" %}

	<p>Please select one of the Datastore kinds...</p>

	<ul>
	{% for name, info in stats|dictsort %}
		<li><a href="{{ base_url}}/{{ name }}/">{{ name }}</a>: <ul>
		{% if name == "Stats" %}
			{% for attr, val in info|dictsort %}
				<li><a href="{{ base_url }}/{{ attr }}/">{{ attr }}</a>: <ul>
				{# if isinstance(val, dict) #}
				{# if val is mapping #}
				{% for k, v in val|dictsort %}
					<li>{{ k }}: {{ v }}</li>
				{% endfor %}
				</ul></li>
			{% endfor %}
		{% else %}
			{% for attr, val in info|dictsort %}
				<li>{{ attr }}: {{ val }}</li>
			{% endfor %}
		{% endif %}
		</ul></li>
	{% endfor %}
	</ul>

	<p><a href="{{ base_url }}/?reset=1">Reset stats</a></p>

{% endblock %}

