{% extends "fire_view.html" %}

{% block content %}
	{% include "fire_nav.html" %}

	{% if parent %}
	<p>Parent: <a href="{{ fire_url }}/{{ parent|ref_link }}">{{ parent.id }}</a></p>
	{% endif %}

	<table border="0" cellpadding="5">
		<thead>
			<tr>
			{% for col_name in columns %}
				{% if col_name == "__ref__" %}
					{% if sort %}
						<th><a href="{{ fire_url }}/{{ coll }}/">{{ col_name }}</a></th>
					{% else %}
						<th><strong>{{ col_name }}</strong></th>
					{% endif %}
				{% elif col_name == sort %}
					<th><strong>{{ col_name }}</strong> <a href="{{ fire_url }}/{{ coll }}/?sort=-{{ col_name }}"> &uarr; </a></th>
				{% elif "-" + col_name == sort %}
					<th><strong>-{{ col_name }}</strong> <a href="{{ fire_url }}/{{ coll }}/?sort={{ col_name }}"> &darr; </a></th>
				{% else %}
					<th><a href="{{ fire_url }}/{{ coll }}/?sort={{ col_name }}">{{ col_name }}</a></th>
				{% endif %}
			{% endfor %}
			</tr>
		</thead>
		{# Note: template filters is_ref and ref_link are defined in admin_handler #}
		<tbody>
		{% for row in rows %}
			<tr>
			{% for col_name in columns %}
				{% set val = row[col_name] %}
				{% if val|is_ref %}
					<td><a href="{{ fire_url }}/{{ val|ref_link }}">{{ val.id }}</a></td>
				{% elif col_name in ("create_time", "update_time", "read_time") %}
					<td>{{ val|show_date }}</td>
				{% else %}
					<td>{{ val }}</td>
				{% endif %}
			{% endfor %}
			</tr>
		{% endfor %}
		</tbody>
	</table>

	{# Note: template global function coll_pager is defined in admin_handler #}
	<p>{{ coll_pager(coll, page)|safe }}</p>

	{% include "fire_nav.html" %}
{% endblock %}

