{% extends "fire_home.html" %}

{% block content %}
	{% include "fire_nav.html" %}

	{% set filter_keys = get_list_filters(info["_parent"].id).keys()|list %}

	<ul>
		{# Note: template filters is_item, item_link and show_date are defined in views.py #}
		<li>Parent: <a href="{{ base_url }}/{{ info["_parent"]|item_link }}">{{ info["_parent"].id }}</a></li>
		<li>Ref: <a href="{{ base_url }}/{{ info["_reference"]|item_link }}">{{ info["_reference"].path }}</a></li>
		<li>Info: <ul>
		{% set parent_attr = [] %}
		{% for attr, val in info|dictsort recursive %}
		{% set outer_loop = loop %}
			{% if attr in ("_parent", "_reference", "_children", "_references") %}
			{% else %}
				<li>{{ attr }}:
				{% if val|is_item %}
					<a href="{{ base_url }}/{{ val|item_link }}">{{ val.id }}</a>
				{% elif attr in ("create_time", "update_time", "read_time") %}
					{{ val|show_date }}
				{% elif val is string and "?fields=" in val %}
					<a href="{{ val }}"><img src="{{ val }}" border="0"></a>
				{% elif val is mapping %}
					{#
					see https://stackoverflow.com/questions/44816903/recursively-find-child-items-and-list-in-jinja
					and https://stackoverflow.com/questions/6401912/i-use-jinja2-recursive-tag-in-my-code-but-how-can-i-get-the-depth-of-current-l
					#}
					{% set _ = parent_attr.append(attr) %}
					<ul>
					{{ loop(val|dictsort) }}
					</ul>
					{% set _ = parent_attr.pop() %}
				{% elif attr != "data" and val is sequence and val is not string and val|length > 2 %}
					[<ol>
					{% for value in val %}
						<li>{% if value is mapping %}<ul>{{ outer_loop(value|dictsort) }}</ul>{% else %}{{ value }}{% endif %}</li>
					{% endfor %}
					</ol>]
				{% else %}
					{{ val }}
					{% if not parent_attr and attr in filter_keys %}
					<a href="{{ base_url }}/{{ info["_parent"]|item_link }}?filters.{{ attr }}={{ val }}">filter</a>
					{% elif parent_attr and parent_attr|join(".") + "." + attr in filter_keys %}
					<a href="{{ base_url }}/{{ info["_parent"]|item_link }}?filters.{{ parent_attr|join(".") + "." + attr }}={{ val }}">filter</a>
					{% endif %}
				{% endif %}
				</li>
			{% endif %}
		{% endfor %}
		</ul></li>
		{% if "_children" in info and info["_children"]|length > 0 %}
		<li>Collections: <ul>
		{% for subcoll in info["_children"] %}
			<li><a href="{{ base_url }}/{{ subcoll|item_link }}">{{ subcoll.id }}</a></li>
		{% endfor %}
		</ul></li>
		{% endif %}
		{% if "_references" in info and info["_references"]|length > 0 %}
		<li>References: <ul>
		{% for ref in info["_references"].keys() %}
		{% for key in info["_references"][ref].keys() %}
			<li><a href="{{ base_url }}/{{ ref }}/?filters.{{ key }}={{ info["_reference"].path }}">{{ ref }}.{{ key }}</a>:<ol>
			{% for item in info["_references"][ref][key] %}
				<li><a href="{{ base_url }}/{{ item|item_link }}">{{ item.id }}</a></li>
			{% endfor %}
			</ol></li>
		{% endfor %}
		{% endfor %}
		</ul></li>
		{% endif %}
	</ul>

{% endblock %}

