{% extends "fire_view.html" %}

{% block content %}
	{% include "fire_nav.html" %}

	<ul>
		{% if parent %}
		<li>Parent: <a href="{{ fire_url }}/{{ parent|ref_link }}">{{ parent.id }}</a></li>
		{% endif %}
		<li>Ref: {{ ref }}</li>
		<li>Info: <ul>
		{# Note: template filters is_ref and ref_link are defined in admin_handler #}
		{% for attr, val in info|dictsort %}
			{% if val|is_ref %}
				<li>{{ attr }}: <a href="{{ fire_url }}/{{ val|ref_link }}">{{ val.id }}</a></li>
			{% elif attr in ("create_time", "update_time", "read_time") %}
				<li>{{ attr }}: {{ val|show_date }}</li>
			{% else %}
				<li>{{ attr }}: {{ val }}</li>
			{% endif %}
		{% endfor %}
		</ul></li>
		{% if subcolls|length > 0 %}
		<li>Collections: <ul>
		{% for subcoll in subcolls %}
			<li><a href="{{ fire_url }}/{{ ref|ref_link }}/{{ subcoll }}/">{{ subcoll }}</a></li>
		{% endfor %}
		</ul></li>
		{% endif %}
	</ul>

{% endblock %}

