# For python 3.7: simply have this file ready for deployment
wsgidav>=3.0.1
future>=0.18.2
Flask>=1.1.1
cachelib>=0.1
google-auth>=1.10.0
requests>=2.22.0
CacheControl>=0.12.6
google-cloud-datastore>=1.10.0
#google-cloud-firestore>=1.6.0
#firebase-admin>=3.2.0
