# For python 3.7: simply have this file ready for deployment
wsgidav>=3.0.3
future>=0.18.2
Flask>=1.1.2
cachelib>=0.1.1
google-auth>=1.22.0
requests>=2.24.0
CacheControl>=0.12.6
google-cloud-datastore>=1.15.1
# fs>=2.4.11
# google-cloud-firestore>=1.9.0
# firebase-admin>=4.4.0
google-cloud-profiler>=2.0.4
